body{
	margin-left: 0;
}

h2{
	margin: 0;
	text-align: center;
	margin-bottom: 100px;
}
.yellow{
  color: yellow;
}
.red{
	color: red;

}
.seagreen{
	color:seagreen;
}
.purple{
	color:purple;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 150px;
  min-height: 80px;
}

.group{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  min-height: 500px;
  margin-bottom: 80px;
}
h1{margin: 0;
	margin-left: 271px;

  }
  p{
  	margin-left: 271px;
  }
.set{
	margin-right: 271px;
	background-color: yellow;
	text-align: center;
	
}
